/* pie */
.pie {
	--color: linear-gradient(to right, transparent 50%, greenyellow 0);
	--bg: #f0f0f0;
	position: relative;
	width: 140px;
	height: 140px;
	line-height: 140px;
	border-radius:50%;
	text-align: center;
	background-color: var(--bg);
	background-image: var(--color);
  overflow: hidden;
  margin: 20px;
}
.pie > span {
	display: block;
	border-radius: 50%;
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
  height: 90%;
  background-color: #fff;
}
.pie div{
	position:absolute;
	top:0;
	width:50%;
	height:100%;
  left:50%;
  background-color: inherit;
	transform-origin: left;
}
#roaterMore50 {
  left: 0;
  right: 50%;
  transform-origin: right;
}
.pieMore50 {
	--color2: linear-gradient(to left, transparent 50%, #f0f0f0 0);
	--bg2: greenyellow;
	background-color: var(--bg2);
	background-image: var(--color2);
}

/* lineProgress */
.lineProgress {
  width: 300px;
  border-radius: 100px;
  text-align: center;
  background: linear-gradient(to right, greenyellow 0, lightgray 0);
  margin: 20px;
}

/* sandGlass */

.sandGlass {
  margin: 20px;
  height: 200px;
  width: 100px;
  background: 
    linear-gradient(to bottom, gray  0px, greenyellow  0px,
    greenyellow 100px, gray 100px, gray 200px);
}
.sandGlass div {
  height: 0;
  width: 0;
  border-top: 100px solid transparent;
  border-left: 50px solid #fff;
  border-right: 50px solid #fff; 
  border-bottom: 100px solid transparent;
}